{# templates/groupeTesteurs/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add Groupe Testeurs{% endblock %}

{% block body %}
    <h1>Add Groupe Testeurs</h1>

    {# Display form errors if any #}
    {{ form_start(form) }}
    {{ form_row(form.groupTesteurLabel) }}
    {{ form_row(form.groupTesteurDescription) }}
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Groupe Testeurs</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
